.item {
  margin-bottom: 6vw;
}

.item:hover {
  filter: brightness(85%);
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.tools {
  position: absolute;
  top: 0;
  right: 0;
}

.toolButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 7px 10px;
}

.toolButton:hover,
.toolButton:focus-visible,
.toolButton:active {
  fill: #f50057;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80vw;
  min-height: 65vw;
  max-width: 400px;
  margin: 0 auto;
  padding: 6px;
  border-radius: 1px 1px 4px 4px;
  box-shadow: 0px 10px 4px -4px rgba(0, 0, 0, 0.2);
}

.scheduled {
  background-color: #fcf6bd;
}

.current {
  background-color: #e4c1f9;
}

.completed {
  background-color: #d0f4de;
}

.title {
  font-size: 7vw;
  line-height: 120%;
  margin: 0;
  padding: 8vw 0;
}

.description {
  font-size: 5vw;
  line-height: 100%;
  margin: auto 0;
  padding-bottom: 6vw;
  color: #2903fa;
}


@media (min-width: 520px) {
  .item {
    margin-bottom: 20px;
  }

  .wrapper {
    width: 25vw;
    min-height: 25vw;
  }

  .title {
    font-size: 3vw;
    padding: 2.8vw 0;
  }

  .description {
    font-size: 2vw;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    width: 230px;
    min-height: 230px;
  }

  .title {
    font-size: 24px;
    padding: 30px 0 20px 0;
  }

  .description {
    font-size: 18px;
    padding-bottom: 10px;
  }
}
