.item {
  margin-bottom: 6vw;
  transition: transform 0.2s ease;
  width: 100%;
}

.item[data-is-moving="true"] {
  transition: none !important;
}

.dragging {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  z-index: 20;
  opacity: 0.9;
  cursor: grabbing !important;
  border-radius: 12px;
  rotate: 2deg;
}

.item:hover > div,
.item:focus-visible > div {
  transform: translateY(-5px);
  cursor: grab;
}

.item:hover > div::after,
.item:focus-visible > div::after {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.tools {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.toolButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 7px 10px;
  transition: fill 0.2s ease;
}

.toolButton:hover,
.toolButton:focus-visible,
.toolButton:active {
  fill: #f50057;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70vw;
  min-height: 50vw;
  max-width: 320px;
  margin: 0 auto;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #dbdce0;
  transform: translateY(0);
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.wrapper::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.2s, transform 0.2s;
}

.scheduled {
  background-color: #fcf6bd;
}

.current {
  background-color: #e4c1f9;
}

.completed {
  background-color: #d0f4de;
}

.title {
  font-size: 6vw;
  line-height: 120%;
  margin: 0;
  padding: 6vw 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.description {
  font-size: 4vw;
  line-height: 100%;
  margin: auto 0;
  padding-bottom: 4vw;
  color: #2903fa;
  white-space: pre-line;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 520px) {
  .item {
    margin-bottom: 15px;
    width: auto;
  }

  .wrapper {
    width: 22vw;
    min-height: 22vw;
  }

  .title {
    font-size: 2.5vw;
    padding: 2vw 0;
  }

  .description {
    font-size: 1.8vw;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    width: 200px;
    min-height: 200px;
  }

  .title {
    font-size: 20px;
    padding: 20px 0 15px 0;
  }

  .description {
    font-size: 16px;
    padding-bottom: 8px;
  }
}
