.button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
  padding: 12px 18px;
  width: 90%;
  max-width: 520px;
  background: none;
  background-color: #f50057;
  border: 3px solid #f50057;
  cursor: pointer;
  margin-bottom: 32px;
}

.button:hover,
.button:focus,
.button:active {
  color: #f50057;
  background: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}
