.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  scrollbar-width: none;
}

.isActive {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.wrapper {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 230px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 30px 5px rgba(245, 0, 87, 0.2);
}

@media (min-width: 520px) {
  .content {
    width: 350px;
  }
}

@media (min-width: 1024px) {
  .content {
    width: 450px;
  }
}

.title {
  font-family: 'PT-Sans', sans-serif;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-evenly;
}

.crossButton {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}

.crossButton:hover .buttonLogo,
.crossButton:active .buttonLogo,
.crossButton:focus-visible .buttonLogo {
  fill: #ff3333;
}

.buttonLogo {
  fill: #444444;
}

.deleteButton {
  composes: button from '../add-task-button/add-task-button.module.css';
  box-sizing: border-box;
  width: 40%;
  margin-top: 40px;
}

.cancelButton {
  composes: deleteButton;
  background-color: #a7c957;
  border-color: #a7c957;
}

.deleteButton:disabled,
.cancelButton:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.cancelButton:hover,
.cancelButton:active,
.cancelButton:focus-visible {
  color: #a7c957;
}

