.main {
  width: 100%;
  text-align: center;
  flex-grow: 1;
}

.title {
  font-family: "PT Sans", sans-serif;
  font-size: 46px;
  margin: 0;
  margin-bottom: 32px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item {
  position: relative;
  padding-bottom: 6vw;
}

.item:not(:last-child)::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 90%;
  left: 5%;
  bottom: 0;
  background-color: #d9d9d9;
  border: 1px dotted #f8f8f8;
}

.itemTitle {
  font-family: 'PT Sans', sans-serif;
  font-size: 10vw;
  margin: 6vw 0 6vw;
}

.itemList {
  list-style-type: none;
  padding: 0;
}


@media (min-width: 520px) {
  .list {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10px;
    margin-right: 10px;
  }

  .item {
    padding-bottom: 20px;
  }

  .item:not(:last-child)::before {
    position: absolute;
    content: "";
    height: 90%;
    width: 1px;
    top: 5%;
    right: -0.8em;
    left: auto;
  }

  .itemList {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .itemTitle {
    font-size: 32px;
    margin: 30px 0 30px;
  }
}
