.footer {
  margin-top: auto
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 6vw;
}

.link {
  display: block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

.link:hover .logo,
.link:focus-visible .logo,
.link:active .logo {
  fill: #f50057;
}

.logo {
  width: 8vw;
  height: 8vw;
}

@media (min-width: 520px) {
  .logo {
    width: 36px;
    height: 36px;
  }

  .list {
    margin-top: 20px;
    gap: 40px;
  }
}
