.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  scrollbar-width: none;
}

.isActive {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.wrapper {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  min-height: 230px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 30px 5px rgba(245, 0, 87, 0.2);
}

@media (min-width: 520px) {
  .content {
    width: 350px;
  }
}

@media (min-width: 1024px) {
  .content {
    width: 450px;
  }
}

.title {
  margin-bottom: 10px;
}

.title,
.description {
  position: relative;
}

.title label,
.description label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.description textarea {
  min-height: 120px;
  max-width: 100%;
  min-width: 100%;
  overflow-x: hidden;
}

.text {
  margin-top: 20px;
  font-size: 18px;
}

.title .input {
  font-size: 20px;
}

form {
  width: 100%;
}

.input {
  font: inherit;
  font-size: 18px;
  background: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 2px solid #444444;
  width: 100%;
  height: 40px;
  padding: 15px 10px;
}

.input:focus {
  outline: none;
}

.input:focus-visible {
  outline: none;
  border: 2px solid #f50057;
}

.inputLabel {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  padding-left: 10px;
  padding-top: 10px;
}

.crossButton {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}

.crossButton:hover .buttonLogo,
.crossButton:active .buttonLogo,
.crossButton:focus-visible .buttonLogo {
  fill: #ff3333;
}

.buttonLogo {
  fill: #444444;
}

.submitButton {
  composes: button from '../add-task-button/add-task-button.module.css';
  box-sizing: border-box;
  width: 50%;
  margin-top: 40px;
}

.submitButton:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.buttonLoader {
  position: relative;
  min-height: 58px;
}

.buttonLoader::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.error {
  font-family: 'PT Sans', sans-serif;
  position: absolute;
  margin: 0;
  bottom: -20px;
  right: 10px;
  font-size: 13px;
  color: #ff3333;
}
